<h1>Classum Coupon API</h1>
<div>
    <div id="input">
        <form id='couponForm' action="/coupons" method="post">
            <div style="margin: 20px;">
                <input type='email' name='email' value="classum@gmail.com" placeholder="email@email.com">
                <span>
                    <button type="button" id='createCoupon'>발급</button>
                    <button type="button" id='readCoupon'>조회</button>
                </span>
            </div>
            <div style="margin: 20px;">
                <input type='text' maxlength="20" name='couponNumber' value="" placeholder="ABCD1234EFGH5678">
                <span>
                    <button type="button" id='useCoupon'>사용</button>
                    <button type="button" id='readCouponAsNumber'>조회</button>
                </span>
            </div>
        </form>
    </div>
    <div id="output" style="margin: 20px;">

    </div>
</div>