<h1>Classum Coupon API</h1>
<div>
    <div id="input">
        <form id='couponForm' action="/coupons" method="post">
            <input type='email' name='email' value="classum@gmail.com">
        </form>
        <p>
            <button id='createCoupon'>발급</button>
            <button id='readCoupon'>조회</button>
        </p>
    </div>
    <div id="output">
        
    </div>
</div>